<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Restaurants - Meal Buddy</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .navbar h2,
        .navbar h3 {
            margin-bottom: 0;
            text-shadow: 0 1px 4px rgba(0,0,0,0.3);
        }
        
        .navbar h2 {
            font-size: 1.8rem;
        }
        
        .navbar h3 {
            font-size: 1.3rem;
            color: #2c2c2c;
            font-weight: 500;
        }
    </style>
</head>

<body>

<div class="navbar">

    <h2>🍔 Meal Buddy</h2>

    <h3>Welcome {{username}}! 👋</h3>

</div>

<!-- SEARCH BAR -->

<div class="search-box">

    <input 
        type="text"
        id="searchInput"
        placeholder="Search restaurants, cuisine, or dishes..."
        onkeyup="searchRestaurants()"
    >

</div>

<!-- RESTAURANTS -->

<div class="restaurant-grid" id="restaurantGrid">

        <h2 id="noResult" style="display:none; grid-column: 1 / -1;">
             😢 No restaurants found
        </h2>

    {% for r in restaurantList %}

    <div class="restaurant-card">

        <img src="{{ r.picture }}">

        <div class="restaurant-info">

            <h2 class="restaurant-name">
                {{ r.name }}
            </h2>

            <p class="restaurant-cuisine">
                <strong>Cuisine:</strong> {{ r.cuisine }}
            </p>

            <p>
                <strong>Rating:</strong> ⭐ {{ r.rating }}
            </p>

            <a href="{% url 'view_menu' r.id username %}">
                View Menu
            </a>

        </div>

    </div>

    {% endfor %}

</div>

<!-- SEARCH SCRIPT -->

<script>



function searchRestaurants() {

    let input =
        document.getElementById("searchInput")
        .value
        .toLowerCase();

    let cards =
        document.getElementsByClassName("restaurant-card");

    let found = false;

    for (let i = 0; i < cards.length; i++) {

        let text =
            cards[i].innerText.toLowerCase();

        if (text.includes(input)) {

            cards[i].style.display = "block";

            found = true;
        }

        else {

            cards[i].style.display = "none";
        }
    }

    let noResult =
        document.getElementById("noResult");

    if (!found) {

        noResult.style.display = "block";
    }

    else {

        noResult.style.display = "none";
    }

}

</script>

</body>
</html>